.settings-page {
  min-height: 100vh;
  background: #020817;
  color: white;
  padding: 30px;
}

.settings-header h1 {
  font-size: 40px;
}

.settings-header p {
  color: #94a3b8;
}


.settings-card {
  background: #0f172a;
  border: 1px solid #1e293b;
  border-radius: 20px;
  padding: 30px;
}

.profile-row {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 30px 0;
}

.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #2563eb;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: bold;
}

.role {
  background: #1e40af;
  padding: 6px 12px;
  border-radius: 20px;
  display: inline-block;
  margin-top: 5px;
}

.form-group {
  margin-bottom: 25px;
}

.form-group label {
  display: block;
  margin-bottom: 10px;
}

.form-group input {
  width: 100%;
  padding: 15px;
  border-radius: 12px;
  border: 1px solid #334155;
  background: #1e293b;
  color: white;
}
